ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--secundary-color);
}

li {
    float: left;
}

li:first-child {
    margin-left: 25px;
}

li a {
    display: block;
    color: var(--primary-color);
    padding: 15px 8px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px   #878787 ;
}

li a:hover{
    background-color: var(--secundary-color);
}

li:last-child{
    float: right;
    margin-right: 25px;
}